.your-population {
  margin-bottom: 30px;

  .form-row {
    align-items: center;
  }

  .input-label {
    font-size: 13px;
    text-align: center;
  }

  .delete-icon img {
    width: 20px;
    cursor: pointer;
  }

  .input-wrapper {
    min-width: 100px;
  }
}

.cost_factor_select .select-factors > .factor-row:first-child .multiselect__tag:first-child {
  background: palevioletred !important; 
}

.impact_factor_select .multiselect__tag:first-child {
  background: palevioletred !important;
}